body{
    font-family: 'Libre Baskerville', serif;
    font-family: 'Montserrat', sans-serif;

    background-color: rgb(251, 237, 252);
}


#title{
    font-family: 'Libre Baskerville', serif;
    color: rgb(35, 35, 95);

}


.colorMenu a {
    color: aliceblue !important;
}

.logo{
    font-family: 'Libre Baskerville', serif;
    color: rgb(238, 238, 240);
   font-size: 30px;
    margin: 0px;
    padding: 0px;
}


.cuadro{
    border-bottom:1px solid rgb(96, 96, 96)  !important; 
    

}